<div>
  <nz-row>
    <nz-col>
      <nz-card class="card" nzTitle="设备名 : 设备ID">
          <p>购置日期</p>
          <p>制造商</p>
          <p>数量</p>
          <p>人员</p>
      </nz-card>
    </nz-col>
    <nz-col>
      <nz-card class="card" nzTitle="设备名 : 设备ID">
        <p>购置日期</p>
        <p>制造商</p>
        <p>数量</p>
        <p>人员</p>
      </nz-card>
    </nz-col>
    <nz-col>
      <nz-card class="card" nzTitle="设备名 : 设备ID">
        <p>购置日期</p>
        <p>制造商</p>
        <p>数量</p>
        <p>人员</p>
      </nz-card>
    </nz-col>
    <nz-col>
      <nz-card class="card" nzTitle="设备名 : 设备ID">
        <p>购置日期</p>
        <p>制造商</p>
        <p>数量</p>
        <p>人员</p>
      </nz-card>
    </nz-col>
    <nz-col>
      <nz-card class="card" nzTitle="设备名 : 设备ID">
        <p>购置日期</p>
        <p>制造商</p>
        <p>数量</p>
        <p>人员</p>
      </nz-card>
    </nz-col>
    <nz-col>
      <nz-card class="card" nzTitle="设备名 : 设备ID">
        <p>购置日期</p>
        <p>制造商</p>
        <p>数量</p>
        <p>人员</p>
      </nz-card>
    </nz-col>
    <nz-col>
      <nz-card class="card" nzTitle="设备名 : 设备ID">
        <p>购置日期</p>
        <p>制造商</p>
        <p>数量</p>
        <p>人员</p>
      </nz-card>
    </nz-col>
  </nz-row>
</div>
